/* цвет основного текста #757575 */
/* цвет вторичного текста #212121 */
/* цвет акцент #2196F3 */
/* цвет полос background: #2F303A; */
/* цвет фона #E5E5E5; */
/* цвет фона вторичный #F5F4FA */

:root{
    --primary-background-color:#E5E5E5;
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3; 
    --footer-logo-color: wite;

}


body{
    background-color: #E5E5E5;
    color: var(--title-text-color);
}

.list{
    list-style:none; 
}

/* Logo */

.logo:hover{
    color: var(--accent-color);
}

.logo-web { 
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
 }

 .logo-studio {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
 }

/* Site nav */

.site-nav .link {
    color: var(--accent-color);
}
 .site-nav .link:hover,
 .site-nav .link:focus {
    color: var(--primary-text-color);
 }
 .site-nav .link-current{
     color: var(--accent-color);
 }
/* Hero */
.hero-title {
    color: var(--primary-text-color);
}

 .section-title {
     color: var(--primary-text-color);
 }
 
 /* Feature */

 .feature-list .title{
     color: var(--primary-text-color);
 }
 
 /* footer logo*/
 .logo-web { 
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
 }

 .logo-footer {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--footer-logo-color);
 }

 /* Button */
 .button {
     color: var(--title-text-color);
     background-color: #fff;
 }